/* Reset */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #f5f8f9;
}

/* header */
.header-container {
    background-color: white;
    
}

.logo {
    margin-left: 20px;
    vertical-align: middle;
    padding: 10px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

/* main */

main {
    margin-top: 60px;
}

.main-container {
    width: 70%;
    background-color: white;
    margin: auto;
}
/* main-top */
.btn {
    padding: 2px 5px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.btn1 {
    background-color: #46adf1;
    color: white;    
}

.btn2 {
    background-color: white;
    color: lightgray;
    margin-left: 3px;
}

hr {
    border: 1px solid #f5f8f9;
}

/* main-bottom */

ul {
    padding-top: 20px;
    padding-left: 33px;
    list-style-type: none;
}
/* sub-list 1 */
li{
    margin:10px 0;
}

.list-title {
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 15px;

}

.sub-list {
    line-height: 10px;
    padding-left: 0px;
}

.check{
    color: #82cdbb;
    border: 1px solid #82cdbb;
    border-radius: 50%;
    background-color: white;
    font-size: 10px;
    vertical-align: middle;
}

.to-do{
    font-size: 15px;
    font-weight: 200;
    vertical-align: middle;
    margin-left: 5px;
}

.tag{
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 8px;
}
/* sub-list 2 */
.editorial {
    background-color: #45abe9;
}

.goals {
    background-color: #9c72e4;
}

.cross {
    color: #eb5953;
    border: 1px solid #eb5953;
    border-radius: 50%;
    background-color: white;
    font-size: 10px;
    vertical-align: middle;
}

.recruting {
    background-color: #63c0a9;
}

.mobile {
    background-color: #f29e33;
}


/* sub-list 3 */
.website {
    background-color: #d763a1;
}

.sales {
    background-color: #b0c925;
}